@keyframes bgcolor {
    0% {
        background-color: #dfe230
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}

body {
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    margin: 10px;
}
.answer {
    margin: auto;
    padding: 30px 20px;
    height: 50%;
    font-size: 20px;
    border-radius: 15px;
    border: none;
}
#answer1, #square1{
    background-color: #4CAF50;
}
#answer2, #square2{
    background-color: #f94a1e;
}
#answer3, #square3{
    background-color: #3399ff;
}
#answer4, #square4{
    background-color: #ff9933;
}

.square, .squaretxt {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 16px;
    margin: 4px 2px;
    width: 70px;
    height: 0px;
    font-size: 20px;
}

#nextQButton{
    display: none;
    background: #3d3d3d;
    margin: 0 auto 50px;
}

#num{
    font-family: 'Tajawal', sans-serif;
    font-size: 35px;
}
#playersAnswered{
    font-family: 'Tajawal', sans-serif;
}
#questionNum{
    font-family: 'Tajawal', sans-serif;
}
.winnerText {
    text-align: center;
    font-size: 22px;
    display: none;
}
#winner0{
    text-align: center;
    font-size: 32px;
    display: none;
}
#winner1{
    text-align: center;
    font-size: 30px;
    display: none;
}
#winner2{
    text-align: center;
    font-size: 25px;
    display: none;
}

#winnerTitle{
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    color: #3399ff;
    display: none;
}